# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Ignores coverage reports
/report
lcov.info

# Dotenv file
.env

# Node
node_modules

# Hardhat
artifacts
cache_hardhat
deployments/localhost/*
coverage*
typechain-types/*
